// fonts

$mainFontFamily: 'Special Elite', cursive;
$mainFontSize: 14px;

// colors

$mainBackgroundColor: #FBFBF8;
$mainFontColor: black;
$crimsonRed: #B80F0A;

// filters

// crimson red #B80F0A
$primaryOnHoverFilter: invert(8%) sepia(93%) saturate(6512%) hue-rotate(355deg) brightness(90%) contrast(100%);

// breakpoints

$mobileBreakPoint: 460px;
$tabletBreakPoint: 800px;
$desktopBreakPoint: 1000px;
$largeDesktopBreakPoint: 1200px;