@import 'reset';
@import 'vars';

body {
  background-color: $mainBackgroundColor;
  font-family: $mainFontFamily;
  color: $mainFontColor;
  font-size: $mainFontSize;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}