@import '../../styles/vars';

.header {
  text-align: center;
  h1 {
    width: min-content;
    overflow: hidden;
    border-right: .15em solid $crimsonRed;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: $crimsonRed; }
  }
}

@media (min-width: $mobileBreakPoint) {
  .header {
    h1 {
      font-size: 2rem;
    }
    @keyframes typing {
      from { width: 0 }
      to { width: 50% }
    }
  }
}